In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [5]:
test_df = pd.read_csv('../Sue/test_scores.csv')
test_df.head()

,school,school_setting,school_type,classroom,teaching_method,n_student,student_id,gender,lunch,pretest,posttest
0,ANKYI,Urban,Non-public,6OL,Standard,20.0,2FHT3,Female,Does not qualify,62.0,72.0
1,ANKYI,Urban,Non-public,6OL,Standard,20.0,3JIVH,Female,Does not qualify,66.0,79.0
2,ANKYI,Urban,Non-public,6OL,Standard,20.0,3XOWE,Male,Does not qualify,64.0,76.0
3,ANKYI,Urban,Non-public,6OL,Standard,20.0,556O0,Female,Does not qualify,61.0,77.0
4,ANKYI,Urban,Non-public,6OL,Standard,20.0,74LOE,Male,Does not qualify,64.0,76.0

In [8]:
# Create a column for % change in test scores from pre- to post-test scores
test_df["percent_change"] = ((test_df['posttest'] -test_df['pretest'])/test_df['posttest']) *100
test_df.head()

,school,school_setting,school_type,classroom,teaching_method,n_student,student_id,gender,lunch,pretest,posttest,percent_change
0,ANKYI,Urban,Non-public,6OL,Standard,20.0,2FHT3,Female,Does not qualify,62.0,72.0,13.888889
1,ANKYI,Urban,Non-public,6OL,Standard,20.0,3JIVH,Female,Does not qualify,66.0,79.0,16.455696
2,ANKYI,Urban,Non-public,6OL,Standard,20.0,3XOWE,Male,Does not qualify,64.0,76.0,15.789474
3,ANKYI,Urban,Non-public,6OL,Standard,20.0,556O0,Female,Does not qualify,61.0,77.0,20.779221
4,ANKYI,Urban,Non-public,6OL,Standard,20.0,74LOE,Male,Does not qualify,64.0,76.0,15.789474

In [ ]:
test_df.groupby('lunch')['lunch'].count()

lunch
Does not qualify                    1215
Qualifies for reduced/free lunch     918
Name: lunch, dtype: int64

In [ ]:
test_df.groupby('school_type')['school_type'].count()

school_type
Non-public     551
Public        1582
Name: school_type, dtype: int64

In [22]:
test_df.groupby('school_setting')['school_setting'].count()

school_setting
Rural       510
Suburban    717
Urban       906
Name: school_setting, dtype: int64

In [21]:
test_df.groupby('teaching_method')['teaching_method'].count()

teaching_method
Experimental     760
Standard        1373
Name: teaching_method, dtype: int64

In [16]:
test_df['n_student'].describe()

count    2133.000000
mean       22.796531
std         4.228893
min        14.000000
25%        20.000000
50%        22.000000
75%        27.000000
max        31.000000
Name: n_student, dtype: float64

In [19]:
test_df.groupby('gender')['gender'].count()

gender
Female    1056
Male      1077
Name: gender, dtype: int64

In [ ]:
test_df['pretest'].describe()

count    2133.000000
mean       54.955931
std        13.563101
min        22.000000
25%        44.000000
50%        56.000000
75%        65.000000
max        93.000000
Name: pretest, dtype: float64

In [11]:
test_df['posttest'].describe()

count    2133.000000
mean       67.102203
std        13.986789
min        32.000000
25%        56.000000
50%        68.000000
75%        77.000000
max       100.000000
Name: posttest, dtype: float64