In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
test_df = pd.read_csv('../Sue/test_scores.csv')
test_df.head()

,school,school_setting,school_type,classroom,teaching_method,n_student,student_id,gender,lunch,pretest,posttest
0,ANKYI,Urban,Non-public,6OL,Standard,20.0,2FHT3,Female,Does not qualify,62.0,72.0
1,ANKYI,Urban,Non-public,6OL,Standard,20.0,3JIVH,Female,Does not qualify,66.0,79.0
2,ANKYI,Urban,Non-public,6OL,Standard,20.0,3XOWE,Male,Does not qualify,64.0,76.0
3,ANKYI,Urban,Non-public,6OL,Standard,20.0,556O0,Female,Does not qualify,61.0,77.0
4,ANKYI,Urban,Non-public,6OL,Standard,20.0,74LOE,Male,Does not qualify,64.0,76.0

In [6]:
# Create a column for % change in test scores from pre- to post-test scores
test_df["percent_change"] = ((test_df['posttest'] -test_df['pretest'])/test_df['posttest']) *100
test_df

,school,school_setting,school_type,classroom,teaching_method,n_student,student_id,gender,lunch,pretest,posttest,percent_change
0,ANKYI,Urban,Non-public,6OL,Standard,20.0,2FHT3,Female,Does not qualify,62.0,72.0,13.888889
1,ANKYI,Urban,Non-public,6OL,Standard,20.0,3JIVH,Female,Does not qualify,66.0,79.0,16.455696
2,ANKYI,Urban,Non-public,6OL,Standard,20.0,3XOWE,Male,Does not qualify,64.0,76.0,15.789474
3,ANKYI,Urban,Non-public,6OL,Standard,20.0,556O0,Female,Does not qualify,61.0,77.0,20.779221
4,ANKYI,Urban,Non-public,6OL,Standard,20.0,74LOE,Male,Does not qualify,64.0,76.0,15.789474
...,...,...,...,...,...,...,...,...,...,...,...,...
2128,ZOWMK,Urban,Public,ZBH,Standard,30.0,T8LSK,Female,Does not qualify,39.0,55.0,29.090909
2129,ZOWMK,Urban,Public,ZBH,Standard,30.0,VNP26,Female,Qualifies for reduced/free lunch,38.0,46.0,17.391304
2130,ZOWMK,Urban,Public,ZBH,Standard,30.0,YDR1Z,Female,Qualifies for reduced/free lunch,45.0,51.0,11.764706
2131,ZOWMK,Urban,Public,ZBH,Standard,30.0,YUEIH,Male,Qualifies for reduced/free lunch,46.0,53.0,13.207547
2132,ZOWMK,Urban,Public,ZBH,Standard,30.0,ZVCQ8,Male,Qualifies for reduced/free lunch,41.0,48.0,14.583333

In [10]:
test_df.loc[(test_df["percent_change"] >=1)
test_df.head()

SyntaxError: invalid syntax (1019634592.py, line 2)

# All School Settings Descriptive Stats

In [4]:
test_df.groupby('lunch')['lunch'].count()

lunch
Does not qualify                    1215
Qualifies for reduced/free lunch     918
Name: lunch, dtype: int64

In [5]:
test_df.groupby('school_type')['school_type'].count()

school_type
Non-public     551
Public        1582
Name: school_type, dtype: int64

In [6]:
test_df.groupby('school_setting')['school_setting'].count()

school_setting
Rural       510
Suburban    717
Urban       906
Name: school_setting, dtype: int64

In [7]:
test_df.groupby('teaching_method')['teaching_method'].count()

teaching_method
Experimental     760
Standard        1373
Name: teaching_method, dtype: int64

In [8]:
test_df['n_student'].describe()

count    2133.000000
mean       22.796531
std         4.228893
min        14.000000
25%        20.000000
50%        22.000000
75%        27.000000
max        31.000000
Name: n_student, dtype: float64

In [9]:
test_df.groupby('gender')['gender'].count()

gender
Female    1056
Male      1077
Name: gender, dtype: int64

In [10]:
test_df['pretest'].describe()

count    2133.000000
mean       54.955931
std        13.563101
min        22.000000
25%        44.000000
50%        56.000000
75%        65.000000
max        93.000000
Name: pretest, dtype: float64

In [11]:
test_df['posttest'].describe()

count    2133.000000
mean       67.102203
std        13.986789
min        32.000000
25%        56.000000
50%        68.000000
75%        77.000000
max       100.000000
Name: posttest, dtype: float64

In [12]:
test_df['percent_change'].describe()

count    2133.000000
mean       18.597928
std         7.057679
min        -2.777778
25%        13.793103
50%        17.948718
75%        22.807018
max        53.191489
Name: percent_change, dtype: float64

# Urban Schools Descriptive Stats

In [13]:
urban_df = test_df.loc[(test_df["school_setting"] == "Urban")]
urban_df

,school,school_setting,school_type,classroom,teaching_method,n_student,student_id,gender,lunch,pretest,posttest,percent_change
0,ANKYI,Urban,Non-public,6OL,Standard,20.0,2FHT3,Female,Does not qualify,62.0,72.0,13.888889
1,ANKYI,Urban,Non-public,6OL,Standard,20.0,3JIVH,Female,Does not qualify,66.0,79.0,16.455696
2,ANKYI,Urban,Non-public,6OL,Standard,20.0,3XOWE,Male,Does not qualify,64.0,76.0,15.789474
3,ANKYI,Urban,Non-public,6OL,Standard,20.0,556O0,Female,Does not qualify,61.0,77.0,20.779221
4,ANKYI,Urban,Non-public,6OL,Standard,20.0,74LOE,Male,Does not qualify,64.0,76.0,15.789474
...,...,...,...,...,...,...,...,...,...,...,...,...
2128,ZOWMK,Urban,Public,ZBH,Standard,30.0,T8LSK,Female,Does not qualify,39.0,55.0,29.090909
2129,ZOWMK,Urban,Public,ZBH,Standard,30.0,VNP26,Female,Qualifies for reduced/free lunch,38.0,46.0,17.391304
2130,ZOWMK,Urban,Public,ZBH,Standard,30.0,YDR1Z,Female,Qualifies for reduced/free lunch,45.0,51.0,11.764706
2131,ZOWMK,Urban,Public,ZBH,Standard,30.0,YUEIH,Male,Qualifies for reduced/free lunch,46.0,53.0,13.207547
2132,ZOWMK,Urban,Public,ZBH,Standard,30.0,ZVCQ8,Male,Qualifies for reduced/free lunch,41.0,48.0,14.583333

In [14]:
urban_df.groupby('lunch')['lunch'].count()

lunch
Does not qualify                    474
Qualifies for reduced/free lunch    432
Name: lunch, dtype: int64

In [15]:
urban_df.groupby('school_type')['school_type'].count()

school_type
Non-public    261
Public        645
Name: school_type, dtype: int64

In [16]:
urban_df.groupby('teaching_method')['teaching_method'].count()

teaching_method
Experimental    275
Standard        631
Name: teaching_method, dtype: int64

In [17]:
urban_df['n_student'].describe()

count    906.000000
mean      25.242826
std        4.099397
min       17.000000
25%       22.000000
50%       26.000000
75%       28.000000
max       31.000000
Name: n_student, dtype: float64

In [18]:
urban_df.groupby('gender')['gender'].count()

gender
Female    457
Male      449
Name: gender, dtype: int64

In [19]:
urban_df['pretest'].describe()

count    906.000000
mean      49.875276
std       13.556630
min       22.000000
25%       39.000000
50%       48.000000
75%       59.000000
max       93.000000
Name: pretest, dtype: float64

In [20]:
urban_df['posttest'].describe()

count    906.000000
mean      61.748344
std       13.596417
min       32.000000
25%       51.000000
50%       59.000000
75%       70.000000
max      100.000000
Name: posttest, dtype: float64

In [21]:
urban_df['percent_change'].describe()

count    906.000000
mean      19.862334
std        7.971042
min        0.000000
25%       14.084507
50%       18.518519
75%       25.000000
max       53.191489
Name: percent_change, dtype: float64

# Suburban Schools Descriptive Stats

In [22]:
suburban_df = test_df.loc[(test_df["school_setting"] == "Suburban")]
suburban_df

,school,school_setting,school_type,classroom,teaching_method,n_student,student_id,gender,lunch,pretest,posttest,percent_change
41,CCAAW,Suburban,Non-public,2B1,Experimental,18.0,1IALS,Female,Does not qualify,61.0,75.0,18.666667
42,CCAAW,Suburban,Non-public,2B1,Experimental,18.0,5NDXD,Male,Qualifies for reduced/free lunch,58.0,78.0,25.641026
43,CCAAW,Suburban,Non-public,2B1,Experimental,18.0,6DCTV,Female,Qualifies for reduced/free lunch,64.0,82.0,21.951220
44,CCAAW,Suburban,Non-public,2B1,Experimental,18.0,6OB0S,Male,Qualifies for reduced/free lunch,58.0,77.0,24.675325
45,CCAAW,Suburban,Non-public,2B1,Experimental,18.0,AITPY,Male,Does not qualify,65.0,87.0,25.287356
...,...,...,...,...,...,...,...,...,...,...,...,...
2011,ZMNYA,Suburban,Public,V77,Experimental,23.0,NZ8Y5,Male,Does not qualify,74.0,84.0,11.904762
2012,ZMNYA,Suburban,Public,V77,Experimental,23.0,O4C5C,Male,Does not qualify,69.0,86.0,19.767442
2013,ZMNYA,Suburban,Public,V77,Experimental,23.0,QEVVU,Male,Does not qualify,74.0,90.0,17.777778
2014,ZMNYA,Suburban,Public,V77,Experimental,23.0,WV4F0,Male,Does not qualify,70.0,87.0,19.540230
2015,ZMNYA,Suburban,Public,V77,Experimental,23.0,ZT5SN,Male,Does not qualify,76.0,95.0,20.000000

In [23]:
suburban_df.groupby('lunch')['lunch'].count()

lunch
Does not qualify                    471
Qualifies for reduced/free lunch    246
Name: lunch, dtype: int64

In [24]:
suburban_df.groupby('school_type')['school_type'].count()

school_type
Non-public    193
Public        524
Name: school_type, dtype: int64

In [25]:
suburban_df.groupby('teaching_method')['teaching_method'].count()

teaching_method
Experimental    284
Standard        433
Name: teaching_method, dtype: int64

In [26]:
suburban_df['n_student'].describe()

count    717.000000
mean      21.683403
std        3.547982
min       15.000000
25%       20.000000
50%       21.000000
75%       24.000000
max       28.000000
Name: n_student, dtype: float64

In [27]:
suburban_df.groupby('gender')['gender'].count()

gender
Female    369
Male      348
Name: gender, dtype: int64

In [28]:
suburban_df['pretest'].describe()

count    717.000000
mean      63.841004
std       10.583789
min       36.000000
25%       57.000000
50%       64.000000
75%       71.000000
max       91.000000
Name: pretest, dtype: float64

In [29]:
suburban_df['posttest'].describe()

count    717.000000
mean      76.037657
std       11.046624
min       49.000000
25%       68.000000
50%       76.000000
75%       84.000000
max       99.000000
Name: posttest, dtype: float64

In [30]:
suburban_df['percent_change'].describe()

count    717.000000
mean      16.129940
std        5.766009
min       -2.777778
25%       11.940299
50%       16.216216
75%       20.289855
max       36.065574
Name: percent_change, dtype: float64

# Rural Schools Descriptive Stats

In [31]:
rural_df = test_df.loc[(test_df["school_setting"] == "Rural")]
rural_df

,school,school_setting,school_type,classroom,teaching_method,n_student,student_id,gender,lunch,pretest,posttest,percent_change
453,FBUMG,Rural,Non-public,197,Experimental,14.0,25M8Y,Male,Qualifies for reduced/free lunch,53.0,68.0,22.058824
454,FBUMG,Rural,Non-public,197,Experimental,14.0,3234W,Male,Does not qualify,63.0,78.0,19.230769
455,FBUMG,Rural,Non-public,197,Experimental,14.0,3431D,Male,Does not qualify,67.0,79.0,15.189873
456,FBUMG,Rural,Non-public,197,Experimental,14.0,A3RYU,Male,Does not qualify,61.0,76.0,19.736842
457,FBUMG,Rural,Non-public,197,Experimental,14.0,ARW1X,Male,Does not qualify,57.0,76.0,25.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1828,VKWQH,Rural,Public,IEM,Experimental,22.0,RGPSQ,Female,Does not qualify,44.0,60.0,26.666667
1829,VKWQH,Rural,Public,IEM,Experimental,22.0,XCWK3,Male,Does not qualify,38.0,52.0,26.923077
1830,VKWQH,Rural,Public,IEM,Experimental,22.0,YEYXG,Female,Does not qualify,42.0,61.0,31.147541
1831,VKWQH,Rural,Public,IEM,Experimental,22.0,YGX7N,Female,Does not qualify,42.0,62.0,32.258065
1832,VKWQH,Rural,Public,IEM,Experimental,22.0,YZJEF,Female,Does not qualify,46.0,57.0,19.298246

In [32]:
rural_df.groupby('lunch')['lunch'].count()

lunch
Does not qualify                    270
Qualifies for reduced/free lunch    240
Name: lunch, dtype: int64

In [33]:
rural_df.groupby('school_type')['school_type'].count()

school_type
Non-public     97
Public        413
Name: school_type, dtype: int64

In [34]:
rural_df.groupby('teaching_method')['teaching_method'].count()

teaching_method
Experimental    201
Standard        309
Name: teaching_method, dtype: int64

In [35]:
rural_df['n_student'].describe()

count    510.000000
mean      20.015686
std        2.678546
min       14.000000
25%       18.000000
50%       20.000000
75%       22.000000
max       24.000000
Name: n_student, dtype: float64

In [36]:
rural_df.groupby('gender')['gender'].count()

gender
Female    230
Male      280
Name: gender, dtype: int64

In [37]:
rural_df['pretest'].describe()

count    510.000000
mean      51.490196
std       10.816876
min       26.000000
25%       44.000000
50%       53.000000
75%       60.000000
max       73.000000
Name: pretest, dtype: float64

In [38]:
rural_df['posttest'].describe()

count    510.000000
mean      64.050980
std       12.093827
min       36.000000
25%       56.000000
50%       67.000000
75%       73.000000
max       88.000000
Name: posttest, dtype: float64

In [39]:
rural_df['percent_change'].describe()

count    510.000000
mean      19.821448
std        5.997932
min        4.347826
25%       15.492958
50%       19.642857
75%       23.862829
max       37.209302
Name: percent_change, dtype: float64